@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    transition: all .5s ease-in-out;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.lateral_bar{
    height: 90%;
    width: 7%;
    position: fixed;
    left: 5vw;
    top: 5vh;
    bottom: 5vh;
    background-color: cornflowerblue;
    border: 5px solid navy;
}

.list_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 10px solid royalblue;
}

.active{
    background-color: royalblue;
}

.list_item, .list_head{
    height: 12%;
    margin-bottom: 2vh;
    list-style: none;
}

.list_link{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list_icon{
    width: 20%;
}

.open{
    display: inline;
}

.close{
    display: none;
}

.img_icon{
    height: 100%;
}

.list_title{
    width: 80%;
    display: none;
    align-items: center;
    padding: 5%;
    color: black;
    font-size: 30px;
    transition: all 0.8s ease-in-out;
}